:root {
  --correct: green;
  --incorrect: red;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: cursive;
}

.container {
  border: 7px solid #c533a6;
  border-radius: 25px;
  box-shadow: 0 0 5px 2px;
  padding: 5em 15em;
}

h1,
h2 {
  text-align: center;
}

a {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2em;
  text-decoration: none;
  color: #c533a6;
}

a:hover {
  font-size: 2.5em;
  font-weight: bold;
}
/* buttons */
.btns,
.btn {
  width: 25em;
  height: 7em;
}

.answer-btns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.submit-btn {
  width: 100%;
  height: 2em;
  margin: 0;
  font-size: 20px;
}

.hide {
  display: none;
}

.retake-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
}
/* correct and incorrect */
.correct {
  background-color: #73ee98;
}

.wrong {
  background-color: #e20c0c;
}

/* highscore */
.initials {
  width: 20em;
  height: 3em;
  text-align: center;
  margin: 3em;
  font-size: 20px;
}

/* score page */
.scores {
  font-size: 2em;
  list-style: none;
}
